<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <title>Lampada</title>
    <script>
        function autoRefresh() {
            window.location = "http://127.0.0.1:5000/turnNN?checknn=on";
        }
        setInterval('autoRefresh()', 5000);
    </script>
</head>

<body>
    <div class="content">
        <img src="{{ url_for('static', filename = '/img/234402441animated-light-bulb-gif-29.gif') }}" id="bluelamp" />
        <img src="{{ url_for('static', filename = '/img/234402441animated-light-bulb-gif-29.gif') }}" id="yellowlamp" />
        <form action="/turnON" method = "post">
            <main>
                <input class="l" type="checkbox" onclick="submit()" id="mylamp" name="checkyel" >
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </main>
            <main>
                <input class="l" type="checkbox" onclick="submit()" id="mylamp1" name="checkblue" >
            </main>
            <main>
                <input class="l" type="checkbox" onclick="submit()" id="nn" name="nn" checked><div class="c">nhấp nháy</div>
            </main>
        </form>
    </div>
    <!-- <script src="{{ url_for('static', filename = 'script.js') }}"></script> -->
</body>

</html>