<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <title>Lampada</title>
</head>

<body>
    <div class="content">
        <img src="{{ url_for('static', filename = '/img/lamp.png') }}" id="yellowlamp" />
        <img src="{{ url_for('static', filename = '/img/lamp-on_blue.png') }}" id="bluelamp" />
        <form action="/turnON" method="post">
            <main>
                <input class="l" type="checkbox" onclick="submit()" id="mylamp" name="checkyel">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </main>
            <main>
                <input class="l" type="checkbox" onclick="submit()" id="mylamp1" name="checkblue" checked>
            </main>
        </form>
    </div>
    <!-- <script src="{{ url_for('static', filename = 'script.js') }}"></script> -->
</body>

</html>